.login-input {
  border-radius: 30px;
  border-color: #c1deff;
  width: 60%;
  height: 40px;
  text-align: center;
  -webkit-appearance : none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: none;
}
